{% extends "base.html" %}
{% block content %}
<h3>Créer un utilisateur</h3>
<form method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <label>Nom d'utilisateur</label>
  <input type="text" name="username" required placeholder="ex: jdupont">

  <label>Mot de passe</label>
  <input type="password" name="password" required placeholder="••••••••">

  <label>Rôle</label>
  <select name="role">
    <option value="user">Utilisateur</option>
    <option value="admin">Administrateur</option>
  </select>

  <div class="right">
    <button class="btn btn-primary" type="submit">Créer</button>
  </div>
</form>
{% endblock %}
